html {
  font-size: 16px;
}

.eyebrow {
  font-size: 1rem;
  font-weight: 700;
}

.headline {
  font-size: 2rem;
  font-weight: 300;
}

.subheadline-copy {
  font-size: 1rem;
  font-weight: 400;
}

header {
  background-color: #242424;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

main header, main section, main .section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
  text-align: center;
  position: relative;
}

main header .section-content, main section .section-content, main .section .section-content {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

main header .section-content.hero-content, main section .section-content.hero-content, main .section .section-content.hero-content {
  flex-direction: column;
}

main header .section-content.hero-content .hero-headline, main section .section-content.hero-content .hero-headline, main .section .section-content.hero-content .hero-headline {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 500;
}

main header .section-content.hero-content .section-copy, main section .section-content.hero-content .section-copy, main .section .section-content.hero-content .section-copy {
  max-width: 600px;
  font-size: 1.3rem;
  font-weight: 300;
}

main header .section-content .headline, main section .section-content .headline, main .section .section-content .headline {
  margin-bottom: .5rem;
}

main header .section-content .column, main section .section-content .column, main .section .section-content .column {
  flex: 1;
}

main header.alternate, main section.alternate, main .section.alternate {
  background-color: #ecf0f1;
}

figure {
  min-height: 200px;
  min-width: 300px;
  margin: 0;
  background-color: transparent;
}

figure.animation {
  position: relative;
}

figure.animation .animation-window {
  width: initial;
  height: initial;
  max-width: 100%;
  z-index: 101;
  position: relative;
}

figure.animation .animation-screen {
  background-color: #242424;
  z-index: 99;
  display: inline-block;
  position: absolute;
  min-width: 250px;
  min-height: 350px;
  width: 78.6%;
  height: 72.1%;
  left: 10.6%;
  top: 13.7%;
  overflow: hidden;
}

figure.animation .animation-screen .animation-frame {
  width: 100%;
  height: initial;
  position: absolute;
  top: 0;
  left: 0;
}

figure.animation .animation-screen .animation-frame.active {
  z-index: 100;
}

figure.animation .animation-screen .animation-frame.start-above {
  top: -100%;
  left: 0;
}

figure.animation .animation-screen .animation-frame.start-below {
  top: 100%;
  left: 0;
}

figure.animation .animation-screen .animation-frame.start-center {
  top: 0;
  left: 0;
}

figure.animation .animation-screen .animation-frame.start-left {
  top: 0;
  left: -100%;
}

figure.animation .animation-screen .animation-frame.start-right {
  top: 0;
  left: 100%;
}

div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "sans-serif";
}

body {
  background-color: #fff;
}

.pg-form,
.pg-newVRoom {
  background-color: #fff;
  min-height: 100vh;
  min-width: 100%;
}

.pg-form main,
.pg-newVRoom main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.pg-form main header,
.pg-newVRoom main header {
  width: 100%;
  padding: 3rem 0 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}

.pg-form main header .headline,
.pg-newVRoom main header .headline {
  font-weight: 700;
}

.pg-form form,
.pg-form input,
.pg-form header,
.pg-form h1,
.pg-form main {
  outline-width: 1px;
  outline-style: solid;
}

.pg-form header {
  outline-color: red;
}

.pg-form h1 {
  outline-color: green;
}

.pg-form form {
  outline-color: blue;
}

.pg-form input {
  outline-color: red;
}
