html {
  font-size: 16px;
}

.eyebrow {
  font-size: 1rem;
  font-weight: 700;
}

.headline {
  font-size: 2rem;
  font-weight: 300;
}

.subheadline-copy {
  font-size: 1rem;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent;
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.8);
}

div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.ws-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 3rem 1rem;
}

.ws-form .form-field-row {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.ws-form .input-wrap {
  flex: 1;
}

.ws-form .input-wrap input {
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.ws-form .input-wrap input[type="text"] {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}

.ws-form .input-wrap.input-street {
  flex: 1;
}

.ws-form .input-wrap.input-city {
  flex: 3;
}

.ws-form .input-wrap.input-state {
  flex-basis: 0em;
}

.ws-form .input-wrap.input-zip {
  flex-basis: 1.25em;
}

html {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "sans-serif";
}

.pg-form,
.pg-newVRoom {
  background-color: #fff;
  min-height: 100vh;
  min-width: 100%;
}

.pg-form main,
.pg-newVRoom main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.pg-form main header,
.pg-newVRoom main header {
  width: 100%;
  padding: 3rem 0 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}

.pg-form main header .headline,
.pg-newVRoom main header .headline {
  font-weight: 700;
}
