html {
  /* font-size: 20px; */
  font-size: 'Roboto',sans-serif;
}

#app {
  /* padding: 2rem; */
}

.aframe-wrap {
  /* border-radius: 12px; */
	overflow: hidden;
	padding: 0;
}

a-scene .teleport-link a-text {
  font-size: 2rem;
  font-weight: bold;
  font-weight: 700;
}

