/*.filedrop-wrap {
    width: 90vw;
    height: 45vw;
    max-width: 800px;
    max-height: 400px;
    min-width: 300px;
    min-height: 150px;
    position: relative;
}
*/
.pg-form main header, .pg-newVRoom main header {
    width: 100%;
    padding: 2rem 0 1rem;
    font-size: 2.2rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
}

.pg-contains-aframe {
    width: 100%;
}

.pg-form main,
.pg-newVRoom main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.ws-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.filedrop-wrap {
    width: 90vw;
    height: 45vw;
    width: 90%;
    height: 400px;
    position: relative;
}

.filedrop-wrap .dropzone {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 2px dashed #c9d2da;
    padding: 20px;
}

.filedrop-wrap .dropzone .dropzone-content .feature-icon {
    font-size: 5.5em;
    margin-bottom: 1rem;
    opacity: .15;
}

.filedrop-wrap .dropzone .dropzone-content .direction-wrap .direction-headline {
    font-size: 2.2em;
    line-height: 1em;
    margin-bottom: 1rem;
    color: #3498db;
    font-weight: 100;
}

.filedrop-wrap .dropzone .dropzone-content .direction-wrap .direction-subheadline {
    font-size: 1em;
    color: #c9d2da;
    line-height: 1em;
    margin-bottom: .5rem;
}

#vroom-form-wrapper {
    display: flex;
    /* flex-direction: row;*/
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.leftsection {
    order: 1;
    flex: 1;
    /*  flex-basis: auto;*/
    padding: .5rem;
    width: 50%;
}

.rightsection {
    order: 1;
    flex: 1;
    padding: .5rem;
    width: 50%;
}

.filedrop-wrap #filedrop-preview, .filedrop-wrap .img-canvas {
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
}

.thumbnail-wrap {
    width: 350px;
    height: 220px;
    position: relative;
}

.thumbnail-icon {
    width:70%;
}