@media (min-width:1500px) {

  @keyframes panning {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 100%;
    }
     50% {
      background-position: 100% 0%;
    }
    75% {
      background-position: 0 100%;
    }
    200% {
      background-position: 0 0;
    }
  }

  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background: black url(/assets/img/background/homebg4.jpg);
    background-size: 100%;
    animation: panning 50s infinite linear;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    height: 60px;
    width: 290px;
    margin: auto;
    font-family: 'Roboto';
    font-size: 34px;
    color: white;
    font-weight: 100;
    text-align: center;
    padding: 10px 40px;
    border: 3px solid #ccc;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
  }

  /* strong {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 22px;
  } */


  html, body {
    height: 100%;
  }

}