html {
  font-size: 16px;
}

.eyebrow {
  font-size: 1rem;
  font-weight: 700;
}

.headline {
  font-size: 2rem;
  font-weight: 300;
}

.subheadline-copy {
  font-size: 1rem;
  font-weight: 400;
}

div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.ws-form, .ws-form fieldset, .ws-form fieldset legend, .ws-form input {
  margin: 0;
  padding: 0;
}

.ws-form:hover, .ws-form fieldset:hover, .ws-form:active, .ws-form fieldset:active, .ws-form:focus, .ws-form fieldset:focus, .ws-form input:hover, .ws-form input:active, .ws-form input:focus, .ws-form, .ws-form fieldset, .ws-form fieldset legend, .ws-form input {
  outline: none;
  border: none;
}

.ws-form:hover, .ws-form fieldset:hover, .ws-form:active, .ws-form fieldset:active, .ws-form:focus, .ws-form fieldset:focus, .ws-form input:hover, .ws-form input:active, .ws-form input:focus, .ws-form, .ws-form fieldset, .ws-form fieldset legend, .ws-form input {
  color: #000;
}

.ws-form, .ws-form fieldset, .ws-form fieldset legend, .ws-form input {
  font-size: inherit;
  font-family: inherit;
  line-height: 1em;
  word-spacing: initial;
  letter-spacing: initial;
  font-weight: normal;
  text-decoration: none;
  font-style: none;
  text-decoration: none;
}

.ws-form:hover, .ws-form fieldset:hover, .ws-form:active, .ws-form fieldset:active, .ws-form:focus, .ws-form fieldset:focus {
  background-color: initial;
}

.ws-form input {
  background-color: #fff;
}

.ws-form, .ws-form fieldset {
  background: none;
}

.ws-form {
  font-size: 1rem;
}

.ws-btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 2rem;
  color: white;
  background-color: #7f8c8d;
  border-radius: 5px;
}

.ws-btn.ws-btn-mini {
  font-size: 1rem;
  padding: .7rem 1rem;
  background-color: #2ecc71;
  position: absolute;
  right: .5rem;
}

.ws-btn#submit {
  background-color: #3498db;
}

.transparent-bg a,
.opaque-black-bg a,
.black-bg a,
.dark-bg a {
  color: rgba(255, 255, 255, 0.7);
}

.opaque-white-bg a,
.white-bg a,
.light-bg a {
  color: rgba(0, 0, 0, 0.54);
}

.transparent-bg {
  background-color: transparent;
}

.opaque-white-bg {
  background-color: rgba(255, 255, 255, 0.8);
}

.opaque-black-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.white-bg {
  background-color: #fff;
}

.black-bg {
  background-color: #000;
}

.light-bg {
  background-color: #ecf0f1;
}

.dark-bg {
  background-color: #242424;
}

.ws-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 1rem;
}

.ws-form .form-row {
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ws-form .form-field-row {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.ws-form .input-wrap {
  flex: 1;
  position: relative;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
}

.ws-form .input-wrap i {
  position: absolute;
  font-size: 1.25em;
  height: initial;
  line-height: initial;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.ws-form .input-wrap label {
  position: absolute;
  font-size: .7em;
  line-height: 1em;
  top: .6em;
  left: .6em;
  color: inherit;
}

.ws-form .input-wrap label.legend {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-weight: 700;
  top: -1.5rem;
  left: .5rem;
}

.ws-form .input-wrap input {
  width: 100%;
  margin: 0;
  border-radius: 0;
  font-size: 1.25em;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}

.ws-form .input-wrap input[type="text"] {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: none;
  outline: 1px solid rgba(0, 0, 0, 0.12);
  outline-offset: 0;
}

.ws-form .input-wrap input[type="text"]::placeholder {
  color: #ecf0f1;
  color: #bdc3c7;
  font-weight: 300;
}

.ws-form .input-wrap input[type="text"]:focus, .ws-form .input-wrap input[type="text"]:active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.ws-form .input-wrap input[type="text"]:focus::placeholder, .ws-form .input-wrap input[type="text"]:active::placeholder {
  color: #3498db;
}

.ws-form .input-wrap.icon-prefix input {
  padding-left: 2em;
}

.ws-form .input-wrap.input-street {
  flex: 1;
}

.ws-form .input-wrap.input-city {
  flex: 3;
}

.ws-form .input-wrap.input-state input, .ws-form .input-wrap.input-zip input {
  text-align: center;
}

.ws-form .input-wrap.input-zip {
  max-width: 8em;
  min-width: 8em;
}

.ws-form .input-wrap.input-state {
  max-width: 6em;
  min-width: 6em;
}

.ws-form fieldset legend {
  margin-bottom: .5rem;
  margin-left: .5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.pg-newVRoom form fieldset {
  width: 100%;
  max-width: 600px;
}

.filedrop-wrap {
  width: 90vw;
  height: 45vw;
  max-width: 800px;
  max-height: 400px;
  min-width: 300px;
  min-height: 150px;
  position: relative;
}

.filedrop-wrap .dropzone {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 2px dashed #c9d2da;
}

.filedrop-wrap .dropzone .dropzone-content {
  color: #3498db;
  font-size: 1.1em;
  font-weight: 400;
}

.filedrop-wrap .dropzone .dropzone-content .feature-icon {
  font-size: 5.5em;
  margin-bottom: 1rem;
  opacity: .15;
}

.filedrop-wrap .dropzone .dropzone-content .feature-icon img {
  height: 1.5em;
  width: initial;
}

.filedrop-wrap .dropzone .dropzone-content i {
  font-size: inherit;
}

.filedrop-wrap .dropzone .dropzone-content .direction-headline {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 1rem;
  color: #3498db;
  font-weight: 100;
}

.filedrop-wrap .dropzone .dropzone-content .direction-subheadline {
  font-size: 1em;
  color: #c9d2da;
  line-height: 1em;
  margin-bottom: .5rem;
}

.filedrop-wrap #filedrop-preview,
.filedrop-wrap .img-canvas {
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
}

.filedrop-wrap #filedrop-preview.no-file,
.filedrop-wrap .img-canvas.no-file {
  z-index: 99;
}

body {
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  border: 1px solid gray;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #57687c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  z-index: 9999;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.65) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}

.ReactModalPortal .ReactModal__Overlay {
  background: white;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content {
  width: 400px;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .modal-header {
  border: 0 none;
  padding: 15px 15px 15px;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  background-color: #ffffff;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 32px;
  height: 32px;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content input[type="text"], .ReactModalPortal .ReactModal__Overlay .ReactModal__Content input[type="password"] {
  border-radius: 3px;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 46px;
  margin-bottom: 5px;
  padding: 13px 12px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
  color: #555555;
  margin-bottom: 10px;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content input[type="password"] {
  -webkit-text-security: disc;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content input::placeholder {
  color: #555555;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .twitter {
  background-color: #00BBFF;
  border-color: #00BBFF;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .login {
  background-color: black;
  border-color: black;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .facebook {
  background-color: #428bca;
  border-color: #428bca;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .google {
  background-color: #F74933;
  border-color: #F74933;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 45px;
  text-align: center;
}

html {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "sans-serif";
}

.pg-form,
.pg-newVRoom {
  background-color: #ecf0f1;
  min-height: 100vh;
  min-width: 100%;
}

.pg-form main,
.pg-newVRoom main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.pg-form main header,
.pg-newVRoom main header {
  width: 100%;
  padding: 3rem 0 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.pg-form main header .headline,
.pg-newVRoom main header .headline {
  font-weight: 700;
}
