.white-bg  {
	background-color: rgba(255,255,255,0.7);
}
.transparent-bg {
	background-color: rgba(0,0,0,0.2);
	/* background-color: transparent !important; */
}
.transparent-bg .navigation-menu__link {
	color: #fff;
}

.transparent-bg .navigation-menu__sign_in {
	color: #fff;
	border: 1px solid #fff;
}
