/* About Page Styling (in public folder) */

body {
    background-color: #2c3e50;
}

.application {
	position: relative;
}
/*@media (min-width:1500px) {
	canvas {
		position: absolute;
		top:0; 
		left:0;
		width: 100vw;
	    height: 100vh;
	}
}*/
.particles {
	position: absolute;
	top:0; 
	left:0;
	width: 100vw;
	height: 100vh;
	
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

canvas {
	min-width: 100%;
	min-height: 100%;
	width: 100vw;
	height: 100vh;
	align-self: stretch;
}

.aboutWrapper {
	position: absolute;
	top:0; 
	left:0;
	width: 100vw;
    height: 100vh;
}

.navigation-menu__sign_in_about {
    color: #FFF;
}

