@import '_importAll';
// @import '/_importAll';
 
html {
	// font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-family: $sans-serif;
}
body {
	// background-color: #fff;
}
  
// Temporary Outlines
// .pg-form {
// 	header,
// 	h1,
// 	main {
// 		outline-width: 1px;
// 		outline-style: solid;
// 	}
// 	header { outline-color: red }
// 	h1     { outline-color: green }
// }

// $pg-form-bg: #fff;
$pg-form-bg: $bg-light;

.pg-form,
.pg-newVRoom {
	background-color: $pg-form-bg;
	min-height: 100vh;
	min-width: 100%;
	main {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		header {
			width: 100%;
			padding: 3rem 0 1rem;
			font-size: 1.2rem;
			background-color: transparent;
			color: $primary;
			text-align: center;
			.headline {
				font-weight: 700; 
			}
		}
	} 
}

 

       
       
             