header {
	background-color: #242424;
	color: #fff;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	header,section, .section {
		display: flex;
		// outline: 1px solid green;
		justify-content: center;
		align-items: center;
		padding: 6rem 2rem;
		text-align: center;
		position: relative;

		.section-content {
			// outline: 1px solid blue;
			max-width: 1000px;
			display: flex;
			flex-direction: row;
			align-items: stretch;

			&.hero-content {
				flex-direction: column;
				.hero-headline {
					margin-bottom: 1rem;
					font-size: 5rem;
					font-weight: 500;
				}
				.section-copy {
					max-width: 600px;
					font-size: 1.3rem;
					font-weight: 300;
				}
			}

			.headline {
				margin-bottom: .5rem;
			}
			.column {
				flex: 1;
				// m: 400px;
				// outline: 1px solid red;
			}
		}

		&.alternate {
			background-color: #ecf0f1;
		}
	}
}


figure {
	min-height: 200px;
	min-width: 300px;
	// background-color: #eee;
	margin: 0;
	background-color: transparent;
	// outline: 1px solid blue;
	
	&.animation {
		position: relative;
		.animation-window {
			width: initial;
			height: initial;
			max-width: 100%;
			z-index: 101;
			position: relative;
		}
		.animation-screen {
			// background-image: url('../graphics/jobba-iPhone6plus-5.png');
			background-color: #242424;
			z-index: 99;
			display: inline-block;
			position: absolute;
			min-width: 250px;
			min-height: 350px;
			width: 78.6%;
			height: 72.1%;
			left: 10.6%;
			top: 13.7%;
			overflow: hidden;

			.animation-frame {
				width: 100%;
				height: initial;
				position: absolute;
				top: 0;
				left: 0;
				// z-index: 99;

				&.active {
					z-index: 100;
				}
				// &.start-center, 
				// &.start-below, 
				// &.start-above {
				// 	left: 0;
				// }
				// &.start-center, 
				// &.start-left, 
				// &.start-right {
				// 	top: 0;
				// }
				&.start-above  { top:  -100%; left:     0; }
				&.start-below  { top:   100%; left:     0; }
				&.start-center { top:      0; left:     0; }
				&.start-left   { top:      0; left: -100%; }
				&.start-right  { top:      0; left:  100%; }
			}
		}
	}
}














