// partials/base
// - modules/all
//    - colors
//       - materialize-colors
//       - color-overrides
//    - utility
// reset
// typography
// buttons
// figures
// grids
// photo-grids
// vendor

// Partials
@import "partials/_base";
@import "partials/_global-nav";
@import "partials/_footer";
@import "partials/_sections";
@import "partials/_reset";
@import "partials/_typography";
@import "partials/_buttons";
@import "partials/_figures";
@import "partials/_grids";

// Third-party
@import "vendor/_colorpicker";
@import "vendor/_jquery.ui.core";
 
html {
	// font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-family: $sans-serif;
}
body {
	// background-color: #fff;
}

$pg-form-bg: $color-bg-light;
$pg-form-bg: #fff;

.pg-form,
.pg-newVRoom {
	background-color: $pg-form-bg;
	min-height: 100vh;
	min-width: 100%;
	main {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		header {
			width: 100%;
			padding: 3rem 0 1rem;
			font-size: 1.2rem;
			background-color: transparent;
			color: $color-fg-primary;
			.headline {
				font-weight: 700;
			}
		}
	}
}


// Temporary Outlines
.pg-form {
	form,
	input,
	header,
	h1,
	main {
		outline-width: 1px;
		outline-style: solid;
	}


	header { outline-color: red }
	h1     { outline-color: green }
	form   { outline-color: blue }
	input  { outline-color: red }
}