// Imports ===================================
	// @import "./vendor/_materialize-colors";
	// @import "./vendor/_material-design-guide";
	// @import "./vendor/_flat-colors";
	// @import "modules/_color-overrides";
	@import "../vendor/_materialize-colors";
	@import "../vendor/_material-design-guide";
	@import "../vendor/_flat-colors";
	// @import "../modules/_color-overrides";
//============================================

// Define General Colors =====================
	$red:            $flat-red;
	$orange:         $flat-orange;
	$yellow:         $flat-yellow;
	$green:          $flat-green;
	$teal:           $flat-teal;
	$blue:           $flat-blue;
	$purple:         $flat-purple;
	$darkblue:       $flat-darkblue;

	$dark-red:       $flat-red-d;
	$dark-orange:    $flat-orange-d;
	$dark-green:     $flat-green-d;
	$dark-teal:      $flat-teal-d;
	$dark-blue:      $flat-blue-d;
	$dark-purple:    $flat-purple-d;
	$dark-darkblue:  $flat-darkblue-d;

	$white:          #fff;
	$offwhite:       $flat-mono-white;
	$light-gray:     $flat-mono-light;
	$gray:           $flat-mono;
	$dark-gray:      $flat-mono-dark;

// Background Colors =========================
	$bg-light: $offwhite;
	$bg-dark: $dark-darkblue;

// Text Colors ===============================
	$link: #08c;

	$fg-primary:   $ideal-primary;
	$fg-secondary: $ideal-secondary;
	$fg-dividers:  $ideal-dividers;
	$fg-disabled:  $ideal-disabled;
	$fg-hint:      $ideal-hint;
	$fg-active:    $ideal-active;
	$fg-inactive:  $ideal-inactive;

	$fg-light-primary:   $ideal-white-primary;
	$fg-light-secondary: $ideal-white-secondary;
	$fg-light-dividers:  $ideal-white-dividers;
	$fg-light-disabled:  $ideal-white-disabled;
	$fg-light-hint:      $ideal-white-hint;
	$fg-light-active:    $ideal-white-active;
	$fg-light-inactive:  $ideal-white-inactive;