/*
	Materialize CSS color overrides
*/
/*
	bluegrey-lighten1 $bg
*/
// @import "vendor/_materialize-colors";
@import "../vendor/_materialize-colors";

$switch-off-circle: #eceff1;
$switch-off-track: #b0bec5;
$bg-d: #333;
$bg-dark: #455a64;
$bg: #607d8b;
$bg-7: #78909c;
$bg-alt: #90a4ae;

$light-bg: #eceff1;
$light-bg-l: #f1f4f6;