

// .aframe-container {
// 	outline: 1px solid red;
// 	.aframe-wrap {
// 		outline: 1px solid blue;
// 	}
// }


.embedded-window {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 300px;
	min-width: 300px;
	outline: 2px solid red;
}

.aframe-wrap {
	height: initial;
	width: initial;
	padding: 0;
	margin: 0;
	border-radius: 0;
	position: relative;
	a-scene {
		height: 100vh;
		width: 100%;
		margin: 0;
	}

	.ws-btn, .ws-form {
		z-index: 950;
		position: absolute;
	}

	#new-annotation-btn {
		// position: fixed;
		font-size: 1.5rem;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
		background-color: $green;
	}
	#finish-btn {
		top: 1rem;
		left: 1rem;
		// position: fixed;
		background-color: $red;
		font-size: 1rem;
		padding: 0.5rem 1rem;
		font-weight: 400;
	}
	#confirm-position {
		// position: fixed;
		top: 60vh;
		left: 50%;
		transform: translateX(-50%);
	}
	#submit-annotation {
		// position: fixed;
		top: 60vh;
		left: 50%;
		transform: translateX(-50%);
	}
	.ws-form {
		bottom: 60vh;
		left: 50vw;
		transform: translateX(-50%);
		width: 90vw;
		max-width: 400px;
		padding: 0;
		// position: fixed;
	}


	&.embedded-not-filled {
		margin: 2rem;
		border-radius: 1rem;
		height: 90vh;
	}
	&.fullscreen {
		position: fixed;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		z-index: 900;
		margin: 0;
		padding: 0;
		
		a-scene {
			z-index: 940;
			height: 100vh;
		}

	}
	.a-enter-vr.embedded {
		@media all and (max-width: 350px){
			bottom: 40px;
		}
	}
}
.fixed-info {
	position: absolute;
	bottom: 0;
	z-index: 1000;
	left: 0;
	padding: .2rem .7rem;
	background-color: $offwhite;
	color: $primary;
	font-weight: 500;
	text-align: center;
	max-width: 350px;
	width: initial;
}









// .aframe-overlay {
// 	z-index: 9999;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	background-color: rgba(0,0,0,0.5);

// 	.aframe-container {
// 		width: 100%;
// 		height: 100%;
// 		margin: auto;
// 		padding: 5%;
// 		.aframe-wrap {
// 			background-color: #fff;
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}
// }
