

// .aframe-container {
// 	outline: 1px solid red;
// 	.aframe-wrap {
// 		outline: 1px solid blue;
// 	}
// }


.embedded-window {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 300px;
	min-width: 300px;
	outline: 2px solid red;
}

.aframe-wrap {
	height: initial;
	width: initial;
	padding: 0;
	margin: 2rem;
	border-radius: 1rem;
	a-scene {
		height: 90vh;
		width: 100%;
		margin: 0;
	}

	&.fullscreen {
		position: fixed;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		z-index: 900;
		margin: 0;
		padding: 0;
		
		
		* {
			z-index: 950
		}
		a-scene {
			z-index: 900;
		}

		#new-annotation-btn {
			bottom: 1rem;
			left: 1rem;
			position: fixed;
		}
		#confirm-position {
			position: fixed;
			top: 60vh;
			left: 50%;
			transform: translateX(-50%);
		}
		.ws-form {
			bottom: 55vh;
			left: 50vw;
			transform: translateX(-50%);
			width: 90vw;
			max-width: 400px;
			position: fixed;
		}
	}
}








// .aframe-overlay {
// 	z-index: 9999;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	background-color: rgba(0,0,0,0.5);

// 	.aframe-container {
// 		width: 100%;
// 		height: 100%;
// 		margin: auto;
// 		padding: 5%;
// 		.aframe-wrap {
// 			background-color: #fff;
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}
// }
