// The partials directory is where the meat of my CSS is constructed. 
// A lot of folks like to break their stylesheets into header, content, sidebar, and footer components (and a few others). 
// Can also break things down into much finer categories (typography, buttons, textboxes, selectboxes, etc…).

// Import modules
@import "../modules/_all";
// @import "./modules/_all";

html {
	font-size: 16px;
}

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Font Families
$sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
$monospace: monospace;
$serif: 'Georgia', serif;

// Font Sizes
$fontsize-base: 1rem;
$font-XS:  $fontsize-base * 0.75  ;
$font-S:   $fontsize-base * 0.875 ;
$font-M:   $fontsize-base * 1    ;
$font-L:   $fontsize-base * 2    ;
$font-XL:  $fontsize-base * 3    ;

.eyebrow {
	font-size: $font-M;
	font-weight: 700;
}
.headline {
	font-size: $font-L;
	font-weight: 300;
}
.subheadline-copy {
	font-size: $font-M;
	font-weight: 400;
}

