.ws-btn,
a.ws-btn {
	font-size: 1.2rem;
	// text-transform: uppercase;
	text-transform: none;
	font-weight: 500;
	padding: .7rem 1.8rem;
	color: $light-primary;
	background-color: $dark-gray;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	&.ws-mini {
		@extend .ws-mini;
	}
	&.ws-btn-mini {
		font-size: 1rem;
		padding: .7rem 1rem;
		background-color: $green;
		position: absolute;
		right: .5rem;
		top: .68rem;
	}
	&#submit {
		background-color: $blue;
	}

	&:hover {
		text-decoration: none;
	}
}
