
	.rc-dropdown {
		padding: 0 10px;
		.rc-dropdown-menu {
			margin: 0;
			margin-top: -4px;
			border: 1px solid $dividers;
			box-shadow: none;
			border-radius: 0;

			.rc-dropdown-menu-item {
				font-size: 1.2rem;
				height: 3em;
				line-height: 3em;
				padding: 0 1em;
				border-top: 1px solid $dividers;
				background-color: $dark-blue;
				color: $light-primary;
				cursor: pointer;

				&:hover {
					background-color: $blue;
					color: $light-primary;
				}
				

				&:first-child {
					border-top: none;
				}

			}
		}
	}


	#portal-dropdown-trigger,
	.dropdown-trigger {
		box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.5);
	}