.ws-link-collection {
	list-style-type: none;
	padding: 0;
	margin: 0;
	// outline: 1px solid green;
	width: 100%;
	font-size: 1.3rem;
	background-color: #fff;
	li {
		outline: 1px solid $dividers;
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 0 1em;
			line-height: 3em;
			color: $secondary;
			font-weight: 400;
			&:hover {
				color: $primary;
			}

			&.selected {
				background-color: $bg-dark;
				background-color: $blue;
				color: $light-primary;
			}
		}
	}
}