
.ReactModalPortal {

// Overlay ===========================================
	.ReactModal__Overlay--after-open{
		z-index: 9999;
		opacity: 1;
		background-color: rgba(0, 0,0, 0.65) !important;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		outline: none;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.428571429;
	}

	.ReactModal__Overlay {
		background: white;
		// Content ===========================================
		.ReactModal__Content{
			width: 400px;
	
			.modal-header{
				border: 0 none;
				padding: 15px 15px 15px;
				min-height: 16.428571429px;
				padding: 15px;
				border-bottom: 1px solid #e5e5e5;
				color: #333333;
				background-color: #ffffff;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				box-sizing: border-box;
				display: inline-block;
				text-align: center;
			}
	
			.close{
				position: absolute;
				top: 10px;
				right: 20px;
				width: 32px;
				height: 32px;
			}
	
			.modal-title{
				margin: 0;
				line-height: 1.428571429;
			}
	
			input[type="text"],input[type="password"]{
				border-radius: 3px;
				border: none;
				color: #333333;
				font-size: 16px;
				height: 46px;
				margin-bottom: 5px;
				padding: 13px 12px;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.09);
				box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
				color: #555555;
				margin-bottom: 10px;
			}
	
			input[type="password"]{
					-webkit-text-security: disc;
			}
	
			input::placeholder{
				color: #555555;	
			}
	
			.twitter{
				background-color: #00BBFF;
				border-color: #00BBFF;
				border-width: 0;
				color: #FFFFFF;
				display: block;
				margin: 0 auto;
				padding: 15px 50px;
				text-transform: uppercase;
				width: 100%;
			}
	
			.login{
				background-color: black;
				border-color: black;
				border-width: 0;
				color: #FFFFFF;
				display: block;
				margin: 0 auto;
				padding: 15px 50px;
				text-transform: uppercase;
				width: 100%;
			}
	
			.facebook{
				background-color: #428bca;
				border-color: #428bca;
				border-width: 0;
				color: #FFFFFF;
				display: block;
				margin: 0 auto;
				padding: 15px 50px;
				text-transform: uppercase;
				width: 100%;
			}
	
			.google{
				background-color: #F74933;
				border-color: #F74933;
				border-width: 0;
				color: #FFFFFF;
				display: block;
				margin: 0 auto;
				padding: 15px 50px;
				text-transform: uppercase;
				width: 100%;
			}
	
			.btn{
				display: inline-block;
				padding: 6px 12px;
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.428571429;
				text-align: center;
				white-space: nowrap;
				vertical-align: middle;
				cursor: pointer;
				background-image: none;
				border: 1px solid transparent;
				border-radius: 4px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
				height: 45px;
				text-align: center;
			}
		}
	}
}